# Firebase 서비스 계정 키 파일
src/main/resources/firebase-service-account.json
# Firebase Secrets
firebase-service-account.json
HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### VS Code ###
.vscode/

### OS ###
.DS_Store
Thumbs.db

### Env ###
.env

bifriends-5df72-firebase-adminsdk-fbsvc-67276a83cd.json

src/main/resources/firebase-service-account.jsonsrc/main/resources/*.json
